 /*노멀 라이징*/
body{
    font-family:'Noto Sans KR', sans-serif;
}
*{
    padding:  0;
    margin: 0;
}

ul,li {
    list-style: none ;
    margin:  0;
    padding: 0 ;
  }

  a{
    color: inherit;
    text-decoration: none;
  }

/* 라이브러리 */
.row:after{
    display: block;
    content: "";;
    clear: both;
}

.cell{
    float: left;
}

.cell-r{
    float: right;
}
/* 스타일 */

.top-logo-box{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    margin-top: 10px;
}

.top-logo-box > .top-logo{
    position: absolute;
    left: 0;
    width: 20%;
    height: 100%;
}

.top-logo-box > .top-number{
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
}

.top-logo-box > .top-number > .top-number-box{
    background-color: #ecbb1d;
    width: 100px;
    height: 40px;
    border-radius: 2em;
    line-height: 40px;
    text-align: center;
    position: absolute;
    right: 32%;
    top: 50%;
}

.top-logo-box > .top-logo > img{
    width: 100%;
    height: 100%;
}

.top-logo-box > .top-number > img{
    width: 100%;
    height: 60%;
}

.top-menu-wrap{
    width: 100%;
    height: 60px;
    background-color: #ecbb1d;
}

.top-menu-wrap > .top-menu{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.top-menu-wrap > .top-menu > ul{
    text-align: center;
    display: inline-block;
}

.top-menu-wrap > .top-menu > ul > li{
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;
    line-height: 60px;    
    font-family: 'Jua', sans-serif;
}

.top-menu-wrap > .top-menu > ul > li:first-child{
    margin-left: 25px;
}
.top-menu-wrap > .top-menu > ul > li:hover{
    color: white;
}

.best{
    width: 150px;
    height: 70px;
    margin: 0 auto;
    font-size: 34px;
    margin-top: 40px;
}

.slider-box-1 {
    width: 1000px;
    height: 700px;
    margin: 0 auto;
    border:2px solid red;
}
.slider-box-1 > .slick .item {
    height: 300px;
    line-height: 100px;
    position:relative;
    overflow:hidden;
    margin-left: 100px;
    margin-top: 200px;
}


.slider-box-1 > .slick .item .bg {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transform:scale(1.2);
    transition: transform 2s;
}

.youtube-wrap{
    margin-top: 50px;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}

.youtube-wrap > .youtube-box{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    border:1px solid black;
}

.img-box-wrap{
    width: 100%;
    height: 400px;
}

.img-box-wrap > .img-box{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.img-box-wrap > .img-box > ul > li:first-child{
    margin-right: 20px;
}

.img-box-wrap > .img-box > ul > li:nth-child(2){
    margin-right: 20px;
}

.img-box-wrap > .img-box > ul > li > .img-1{
    width: 380px;
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-box-wrap > .img-box > ul > li > .img-1 > .img-1-box{
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.img-box-wrap > .img-box > ul > li > .img-1 > .img-1-box > .img-1-title{
    position: absolute;
    top: 45px;
    left: 30px;
}

.img-box-wrap > .img-box > ul > li > .img-1 > .img-1-box > .img-1-title > p{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    color: white;
}

.img-box-wrap > .img-box > ul > li > .img-1 > .img-1-box > .img-1-search{
    position: absolute;
    top: 200px;
    left: 30px;
}

.img-box-wrap > .img-box > ul > li > .img-1 > .img-1-box > .img-1-search > input{
    width :260px;
    height: 50px;
    font-size: 16px;
    text-align: center;
}

.img-box-wrap > .img-box > ul > li > .img-1 > .img-1-box > .img-1-button{
    width: 260px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    background-color: black;
    position: absolute;
    top: 255px;
    left: 30px;
    color: white;
}

.img-box-wrap > .img-box > ul > li > .img-1 > .img-1-box > .img-1-button:hover{
    background-color: #ecbb1d;
}

.img-box-wrap > .img-box > ul > li > .img-1{
    position: relative;
    display: inline-block;
}

.img-box-wrap > .img-box > ul > li > .img-1 > .img-1-1 > a > img{
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.img-box-wrap > .img-box > ul > li > .img-1 > .img-1-2 > a > img{
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
}
.img-box-wrap > .img-box > ul > li > .img-1 > .img-1-3 > a > img{
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.img-box-wrap > .img-box > ul > li > .img-1 > .img-1-4 > a > img{
    width: 50%;
    position: absolute;
    bottom:0;
    right:0;
}

.service-wrap{
    width: 100%;
    height: 160px;
    margin-bottom: 50px;
}

.service-wrap > .service{
    width: 1180px;
    height: 100%;
    margin: 0 auto;
}

.service-wrap > .service > .notice{
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #ccc;
    line-height: 70px;
}

.service-wrap > .service > .notice > .notice-title{
    width: 15%;
    height: 100%;
    color: #b19028;
    display: inline-block;
    float: left;
    font-size: 24px;
}

.service-wrap > .service > .notice > .notice-title > a > p{
    display: inline;
}

.service-wrap > .service > .notice:hover > .notice-title > a > p{
    border-bottom: 3px solid #9c1b31;
    color: #9c1b31;
}

.service-wrap > .service > .notice > .notice-text{
    width: 70%;
    height: 100%;
    font-size: 24px;
}

.service-wrap > .service > .notice > .notice-text > a > p{
    display:inline;
}

.service-wrap > .service > .notice:hover > .notice-text > a > p{
    border-bottom: 3px solid #9c1b31;
    color: #9c1b31;
}

.service-wrap > .service > .event{
    width: 100%;
    height: 50%;
    line-height: 80px;
}

.service-wrap > .service > .event > .event-title{
    width: 15%;
    height: 100%;
    color:#b19028;
    display: inline-block;
    float: left;
    font-size: 24px;
}

.service-wrap > .service > .event > .event-title > a p{
    display: inline;
}

.service-wrap > .service > .event:hover > .event-title > a  p{
    border-bottom: 3px solid #9c1b31;
    color: #9c1b31;
}

.service-wrap > .service > .event > .event-text{
    width: 70%;
    height: 100%;
    font-size: 24px;
}

.service-wrap > .service > .event > .event-text > a  p{
    display: inline;
}

.service-wrap > .service > .event:hover > .event-text > a  p{
    border-bottom: 3px solid #9c1b31;
    color: #9c1b31;
}

.footer-1-wrap{
    width: 100%;
    height:80px;
    background-color:#2b2b2b;
}

.footer-1{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.footer-1-wrap > .footer-1 > .footer-1-img > img{
    width: 30%;
    display: inline;
    float: left;
}

.footer-1-wrap > .footer-1 > .footer-1-text{
    width: 40%;
    display:inline;
    float: left;
}

.footer-1-wrap > .footer-1 > .footer-1-text > .footer-1-text1:first-child{
    width: 22%;
}

.footer-1-wrap > .footer-1 > .footer-1-text > .footer-1-text1{
    width: 39%;
    height: 100%;
}

.footer-1-wrap > .footer-1 > .footer-1-text > .footer-1-text1 > a > p{
    text-align: center;
    line-height:68px;
    color: #ccc; 
    font-size: 14px;
}

.footer-1-wrap > .footer-1 > .footer-1-box{
    width: 30%;
    height:100%;
    display: inline-block;
    float: left;
}

.footer-1-wrap > .footer-1 > .footer-1-box > .footer-1-box1{
    height: 100%;
}

.footer-1-wrap > .footer-1 > .footer-1-box > .footer-1-box1 > a > img{
    width: auto;
    height: 80%;
}

.footer-wrap{
    width: 100%;
    height: 200px; 
    background-color:#484747;
}

.footer{
    width: 1200px;
    height: 100% ;
    margin: 0 auto;
}

.footer-wrap > .footer > .footer-text{
    width: 40%;
    height: 100%;
    font-size : 16px;
    color: #979595;
    margin-top: 40px;
}

.footer-wrap > .footer > .footer-button{
    margin-top: 40px;
}

.footer-wrap > .footer > .footer-button > .button-name{
    font-size: 24px;
    color: #d7d7d7;
    display:inline-block;
}

.footer-wrap > .footer > .footer-button > .button-name:hover{
    border-bottom: 3px solid #ecb518;
    color: #ecb518;
}