 /*노멀 라이징*/
 @font-face {
    font-family: 'OTWelcomeBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeBA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LotteMartHappy';
    font-style: normal;
    font-weight: bold;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff');
  }

body{
    background-color: #F6F2F2;
    font-family: 'OTWelcomeBA';
}
*{
    padding:  0;
    margin: 0;
}

ul,li {
    list-style: none ;
    margin:  0;
    padding: 0 ;
  }

  a{
    color: inherit;
    text-decoration: none;
  }

/* 라이브러리 */
.row:after{
    display: block;
    content: "";;
    clear: both;
}

.cell{
    float: left;
}

.cell-r{
    float: right;
}
/* 스타일 */

.top-wrap{
    width: 100%;
    height:105px;
    background-color: #F6F2F2;
    position: fixed;
    z-index: 99;
    top: 0;
    border-bottom: 1px solid #ddd;
}

.top-wrap > .top-bar{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}

.top-wrap > .top-bar > .top-logo{
    margin-top: 10px;
}

.top-wrap > .top-bar > .top-menu > ul > li > a{
    font-size: 24px;
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.top-wrap > .top-bar > .top-menu > ul > .now{
    color: #D30000;
}

.top-wrap > .top-bar > .top-menu > ul > li > a:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}

.top-wrap > .top-bar > .top-menu > ul > li{
    margin-top: 35px;
}


.main-wrap{
    width: 1700px;
    margin: 0 auto;
    margin-top: 180px;
}

.main-wrap > .main-text{
    width: 50%;
    margin-left: 100px;

}

.main-wrap > .main-text > .main-text1{
    font-size: 100px;
}

.main-wrap > .main-text > .main-text2{
    font-size: 100px;
    color: #D30000;
    margin-left: 50px;
    background-color: white;
    padding: 5px;
    display: inline-block;
    padding-bottom: 0px;
    height:100px;
}

.main-wrap > .main-text > .main-text2 > div{
    width: 550px;
    float: left;
    text-align: center;
}

.main-wrap > .main-text > .main-text3{
    font-size: 100px;
    margin-left: 100px;
    margin-top: 10px;
}

.main-wrap > .main-text > .main-text4{
    font-size: 50px;
    margin-top: 30px;
    height: 65px;
    line-height: 80px;
}

.main-wrap > .main-text > .main-text4 > .main-text4-me{
    float: left;
}

.main-wrap > .main-text > .main-text4 > .main-text4-slider{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.main-wrap > .main-text > .main-text4 > .main-text4-slider > div{
    color: #D30000;
    background-color: white;
    width: 230px;
    text-align: center;
    height:65px;
    line-height: 80px;
    float: left;
}

.main-wrpa > .main-img{
    width: 50%;
}

.main-wrap > .main-img{
    width: 35%;
    height: 520px;
    border: 2px solid black;
}

.main-wrap > .main-img > img{
    width: 100%;
    height: 100%;
}

.bg > .bg-1 {
    width: 100%;
    height: 215px;
    position: absolute;
    background-image: url("../img/bg-1.png");
    background-size: 1522px;
    background-position: 0;
    top: 77%;
    left:0;
    animation-name: bg-1;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;   
    overflow: hidden;
}

.bg > .bg-2{
    width: 100%;
    height: 98px;
    position: absolute;
    background-image: url("../img/bg-2.png");
    background-size: 1520px;
    background-position: 50%;
    top: 88%;
    left:0;
    animation-name: bg-2;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    overflow: hidden;
}

@keyframes bg-1{
    0%{
        background-position: 0;
    }
    100%{
        background-position: 1522px;
    }
}

@keyframes bg-2{
    0%{
        background-position: 0;
    }
    100%{
        background-position: 1520px;
    }
}