 /*노멀 라이징*/
 @font-face {
    font-family: 'OTWelcomeBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeBA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LotteMartHappy';
    font-style: normal;
    font-weight: bold;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff');
  }

body{
    background-color: #F6F2F2;
    font-family: 'OTWelcomeBA';
}
*{
    padding:  0;
    margin: 0;
}

ul,li {
    list-style: none ;
    margin:  0;
    padding: 0 ;
  }

  a{
    color: inherit;
    text-decoration: none;
  }

/* 라이브러리 */
.row:after{
    display: block;
    content: "";;
    clear: both;
}

.cell{
    float: left;
}

.cell-r{
    float: right;
}
/* 스타일 */

.top-wrap{
    width: 100%;
    height:105px;
    background-color: #F6F2F2;
    position: fixed;
    z-index: 99;
    top: 0;
    border-bottom: 1px solid #ddd;
}

.top-wrap > .top-bar{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}

.top-wrap > .top-bar > .top-logo{
    margin-top: 10px;
}

.top-wrap > .top-bar > .top-menu > ul > li > a{
    font-size: 24px;
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.top-wrap > .top-bar > .top-menu > ul > .now{
    color: #D30000;
}

.top-wrap > .top-bar > .top-menu > ul > li > a:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}

.top-wrap > .top-bar > .top-menu > ul > li{
    margin-top: 35px;
}

.main-wrap{
    width: 1400px;
    margin: 0 auto;
    margin-top: 150px;
}

.main-wrap > .main-text{
    width: 50%;
}

.main-wrap > .main-text > .main-text1{
    font-size :80px;
    margin-top: 10%;
}

.main-wrap > .main-text > .main-text2{
    font-size :100px;
    color: #D30000;
    margin-top: 15%;
    margin-left: 8%;
}

.main-wrap > .main-text > .main-text3{
    font-size :80px;
    margin-top:  18%;
    margin-left: 80%;
}

.main-wrap > .main-img{
    width: 47%;
    height: 600px;
    border: 2px solid black;
    margin-top: 30px;
    margin-left: 30px;
}

.main-wrap > .main-img > img{
    width: 100%;
    height: 100%;
}

.main-box-wrap{
    width: 1400px;
    margin: 0 auto;
    margin-top: 220px;
}

.main-box-wrap > article > .main-box1 > .main-box1-1{
    font-size: 50px;
    width: 45%;
    margin-left: 4%;
    box-sizing: border-box;
    line-height: 80px;
}

.main-box-wrap > article > .main-box1 > .main-box1-2{
    font-size: 20px;
    width: 45%;
    margin-left: 5%;
}

.main-box-wrap > article > .main-box2{
    margin-top: 150px;
}

.main-box-wrap > article > .main-box2 > .main-box2-1{
    width: 38%;
    font-size: 50px;
    margin-left: 11%;
    line-height: 70px;
}

.main-box-wrap > article > .main-box2 > .main-box2-2{
    width: 45%;
    font-size: 20px;
    margin-left: 5%;
}
[data-trigger1]{
    opacity: 0;
    position: relative;
    bottom: 50px;
    transition: 1s ease-out;
}

[data-trigger1].visible{
    opacity: 1;
    bottom: 0;
}

[data-trigger2]{
    opacity: 0;
    position: relative;
    bottom: 50px;
    transition: 2s ease-out;
}

[data-trigger2].visible{
    opacity: 1;
    bottom: 0;
}

.main-circle-wrap{
    width: 1200px;
    height: 320px;
    margin: 0 auto;
    margin-top: 150px;
    position: relative;
}

.main-circle-wrap > .main-box-1{
    position: absolute;
    width: 400px;
    float: left;
    margin: 0 auto;
    left: -400px;
    opacity: 0;
}

.main-circle-wrap > .main-box-1 > .circle{
    margin: 0 auto;
    width: 70%;
    height: 275px;
    background-color: #E6E5E1;
    border-radius: 50%;
}

.main-circle-wrap > .main-box-1 > .circle > img{
    width: 21%;
    margin-left: 38%;
    margin-top: 6%;
}

.main-circle-wrap > .main-box-1 > .circle > p{
    text-align: center;
    font-size: 35px;
    line-height: 4;
}

.main-circle-wrap > .main-box-1 > p{
    text-align: center;
    font-size: 28px;
    line-height: 4;
}

.main-circle-wrap > .main-box-2{
    position: absolute;
    width: 400px;
    float: left;
    left: 400px;
    opacity: 0;
    transition: 4s;
}

.main-circle-wrap > .main-box-2 > .circle{
    margin: 0 auto;
    width: 70%;
    height: 275px;
    background-color: #E6E5E1;
    border-radius: 50%;
}

.main-circle-wrap > .main-box-2 > .circle > img {
    width: 21%;
    margin-left: 38%;
    margin-top: 6%;
}

.main-circle-wrap > .main-box-2 > .circle > p{
    text-align: center;
    font-size: 35px;
    line-height: 4;
}

.main-circle-wrap > .main-box-2 > p{
    text-align: center;
    font-size: 28px;
    line-height: 4;
}

.main-circle-wrap > .main-box-3{
    width: 400px;
    position: absolute;
    float: left;
    right: -400px;
    opacity: 0;
}

.main-circle-wrap > .main-box-3 > .circle{
    margin: 0 auto;
    width: 70%;
    height: 275px;
    background-color: #E6E5E1;
    border-radius: 50%;
}

.main-circle-wrap > .main-box-3 > p{
    text-align: center;
    font-size: 28px;
    line-height: 4;
}

.main-circle-wrap > .main-box-3 > .circle > img{
    width: 21%;
    margin-left: 38%;
    margin-top: 6%;
}

.main-circle-wrap > .main-box-3 > .circle > p{
    text-align: center;
    font-size: 35px;
    line-height: 4;
}




.div-section{
    width: 100%;
    height: 80px;
}

.color-wrap{
    width: 1400px;
    margin: 0 auto;
    margin-top: 180px;
}

.color-wrap > .color-title{
    font-size: 60px;
    line-height: 210px;
    margin-left: 11%;
}

.color-wrap > .color-box{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: relative;
    margin-left: 8%;
}

.color-wrap > .color-box > p{
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.color-wrap > .color-body > p{
    margin-left: 90px;
    font-size: 18px;
    margin-top: 10%;
}

.logo-wrap{
    width: 1400px;
    height: 150px;
    margin: 0 auto;
    margin-top: 165px;
}

.logo-wrap > .logo-c{
    margin-left: 16%;
    margin-top: 14px;
    height: 120px;
}

.logo-wrap > .logo-plus{
    font-size: 60px;
    margin-left: 5%;
    margin-top: 38px;
}

.logo-wrap > .logo-e{
    font-size: 100px;
    margin-left: 5%;
    margin-top: 14px;
    height: 120px;
}

.logo-wrap > .logo-p{
    font-size: 100px;
    margin-left: 5%;
    margin-top: 14px;
    height: 120px;
}

.logo-wrap > .logo-is{
    font-size: 77px;
    margin-left: 5%;
    margin-top: 29px;
}

.logo-wrap > .logo-img > img{
    width: 150%;
    height:150%;
    margin-left: 100%;
}

.logo-text{
    width: 1400px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.logo-text > .logo-text-c{
    font-size:40px;
    margin-left:13%;
    color: #C5C5C5;
}

.logo-text > .logo-text-c > span{
    color: black;
}

.logo-text > .logo-text-e{
    font-size:40px;
    margin-left: 6%;
    color: #C5C5C5;
}

.logo-text > .logo-text-e > span{
    color: black;
}

.logo-text > .logo-text-p{
    font-size:40px;
    margin-left: 6%;
    color: #C5C5C5;
}

.logo-text > .logo-text-p > span{
    color: black;
}
